@import "../settings";

.book {
  color: $black;
  cursor: pointer;
  // font-family: Whitelist;
  font-size: $font-size-s;
  text-align: center;
  transition: all 0.35s ease-in-out;
  h6 {
    color: $grey;
  }
  img {
    min-width: 100%;
    max-width: 100%;
    min-height: 500px;
    max-height: 500px;
  }
}

.book:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: $desktop-breakpoint),
  screen and (max-height: $mobile-portrait),
  screen and (max-width: $tablet-breakpoint) and (min-height: $tablet-breakpoint) {
  .book {
    img {
      height: 100%;
      // max-height: 70vh;
    }
  }
}

@media (hover: none) {
  .book:hover {
    transform: none;
  }
}
