@import "../settings";

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: $l-size;
  margin-bottom: $xxl-size;
}

.error {
  color: $orange;
  font-style: italic;
  font-weight: bold;
}

@media only screen and (max-width: $desktop-breakpoint),
  screen and (max-height: $mobile-portrait),
  screen and (max-width: $tablet-breakpoint) and (min-height: $tablet-breakpoint) {
  .grid {
    grid-template-columns: 1fr;
  }
}
