@import "../settings";

.category {
  cursor: pointer;
  font-size: $font-size-m;
  text-align: center;
  transition: all 0.35s ease-in-out;
  img {
    min-width: 100%;
    max-width: 100%;
    min-height: 500px;
    max-height: 500px;
    object-fit: cover;
  }
  h4 {
    color: $blue;
  }
  p {
    font-size: $font-size-s;
    color: $grey;
  }
}

.category:hover {
  transform: scale(1.05);
}


.error {
  color: $pink !important;
  font-style: italic;
}

@media only screen and (max-width: $desktop-breakpoint),
  screen and (max-height: $mobile-portrait),
  screen and (max-width: $tablet-breakpoint) and (min-height: $tablet-breakpoint) {
  .category {
    img {
      height: 100%;
      max-height: 50vh;
    }
  }
}
