@import '../settings';

.title {
    color: $blue;
    line-height: 1.2;
    font-family: Questrial, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: $font-size-xl;
    margin-top: $xl-size;
    margin-bottom: 0;
}

.subtitle {
    color: $grey;
    margin-bottom: $m-size;
}

