@import "../settings";

.wrapper {
  background-image: url("../../assets/images/bg1.png");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: 60vh;
  position: relative;
  width: 100vw;
  &::before {
    background-color: $blue;
    clip-path: inset(8% 0%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -3;
  }
  &::after {
    animation: float 20s infinite linear alternate-reverse;
    background-image: url("../../assets/images/bg2.png");
    background-position: 50% 50%;
    background-repeat: repeat-x;
    content: "";
    height: 100%;
    opacity: 0.25;
    position: absolute;
    width: 100%;
    z-index: -2;
  }
}

@keyframes float {
  from {
    transform: translate(-30px, 0);
  }
  to {
    transform: translate(30px, 0);
  }
}

.buttons1,
.buttons2 {
  margin-top: $xs-size;
  button {
    background-color: $white;
    border: none;
    border-radius: 8px;
    color: $blue;
    letter-spacing: 0.8px;
    margin: 0 $xs-size;
    padding: $s-size $l-size;
    transition: all 0.15s ease-in-out;
    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    }
  }
}

.content {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
}
.search {
  margin: $m-size 0;
  .form {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  input,
  button {
    background-color: white;
    border: none;
    height: 40px;
    outline: none;
    padding: $s-size $m-size;
  }
  button {
    color: $blue;
  }
}

.error {
  font-style: italic;
}

@media only screen and (max-width: $desktop-breakpoint),
  screen and (max-height: $mobile-portrait),
  screen and (max-width: $tablet-breakpoint) and (min-height: $tablet-breakpoint) {
  .wrapper {
    background-position: 10% 50%;
    min-height: 600px;
    &::after {
      left: -15%;
      width: 130%;
    }
  }
  .content {
    margin: $m-size 0;
    width: 80%;
  }
  .buttons2 {
    display: none;
  }

  .buttons1 {
    button {
      margin-top: $s-size;
    }
  }
}
