@import "../settings";

.wrapper {
  background-position-y: 100%;
  background-size: cover;
  color: white;
  margin-top: $m-size;
  min-height: 60vh;
  position: relative;
  width: 100vw;
  &::before {
    background-color: $blue;
    clip-path: inset(8% 0%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -2;
  }
}

.buttons1,
.buttons2 {
  margin-top: $xs-size;
  button {
    background-color: $white;
    border: none;
    border-radius: 8px;
    color: $blue;
    margin: 0 $xs-size;
    padding: $s-size $l-size;
    transition: all 0.15s ease-in-out;
    &:hover {
      color: lighten($blue, 10%);
    }
  }
}

.content {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}
.search {
  margin: $m-size 0;
  .form {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  input,
  button {
    background-color: white;
    border: none;
    height: 40px;
    outline: none;
    padding: $s-size $m-size;
  }
  button {
    color: $blue;
  }

}

.error {
  font-style: italic;
}

@media only screen and (max-width: $desktop-breakpoint),
  screen and (max-height: $mobile-portrait),
  screen and (max-width: $tablet-breakpoint) and (min-height: $tablet-breakpoint) {
  .content {
    margin: $m-size 0;
    width: 80%;
  }
  .buttons2 {
    display: none;
  }

  .buttons1 {
    button {
      margin-top: $s-size;
    }
  }
}
