@import "./settings";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
  margin: 0;
}

a,
button {
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

button {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

